/* RESET */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font: 16px/1 "Roboto", "Tahoma", sans-serif;
}

iframe {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
blockquote,
figure,
button {
  margin: 0;
  padding: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline;
}

a,
button {
  color: inherit;
  transition: 200ms;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
}
button:focus {
  outline: 0;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}




.NumberList {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	padding: 0;
	margin: 0;
}

.Number {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	width: 100%;
	padding: 0;
	margin: 0;
	color: #555;
}

.Number:not(:last-child) {
	border-bottom: 1px solid #CCC;
}

.Number:hover {
	-webkit-animation-name: tapOnNumber;
	        animation-name: tapOnNumber;
	-webkit-animation-duration: 750ms;
	        animation-duration: 750ms;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	        animation-timing-function: ease-out;
}

@-webkit-keyframes tapOnNumber {
	from {
		background-color: rgba(46, 204, 113, 0.13);
	}

	to {
		background-color: white;
	}
}

@keyframes tapOnNumber {
	from {
		background-color: rgba(46, 204, 113, 0.13);
	}

	to {
		background-color: white;
	}
}

.Number--done {
	text-decoration: line-through;
	color: #BBB;
	transition: color 225ms ease;
}

.Number__Link {
	display: -webkit-flex;
	display: flex;
	width: 100%;
	-webkit-flex-direction: row;
	        flex-direction: row;
}

.Number__Label {
	width: 120px;
	font-size: 18.4px;
	font-size: 1.15rem;
	font-weight: 700;
	text-align: right;
	padding: 20px;
	padding: 1.25rem;
}

.Number__Number {
	-webkit-flex: 1;
	        flex: 1;
	text-align: left;
	padding: 20px;
	padding: 1.25rem;
}
